<%- include("layout", { title: "Home", body: `
  <h1>Docker Cloud App</h1>
  <p>Funkcjonalności: tworzenie, edycja i przypisywanie użytkowników, projektów i zadań</p>
  <p>Język programowania: Node.js + Express</p>
  <p>Baza danych: PostgreSQL</p>
` }) %>