<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/users">Users</a> |
    <a href="/projects">Projects</a> |
    <a href="/tasks">Tasks</a>
  </nav>
  <hr/>
  <%- body %>
</body>
</html>